* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%; 
  height: 100vh; 
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  // background-color: #8d8d8d;
  // display: flex; 
  // justify-content: center;
  // align-items: center;
}

#root {
  width: 100%;
  height: 100vh; 
  background-color: #8d8d8d;
  position: relative;
  display: flex; 
  justify-content: center;
  align-items: center;
}